Simulator/yolov5s.pt
Simulator/yolov5n.pt
Simulator/sim_bk.zip
Simulator/training_imgs.zip
catkin_ws/build/*
catkin_ws/devel/*

catkin_ws/src/controls_testing/__pycache__/*
catkin_ws/src/pure_pursuit_test2/__pycache__/*
Simulator/my_trajectory.png
Simulator/sign_imgs/pdf2png.zip
Simulator/training_imgs2.zip
catkin_ws/src/camera_viewer/imgs/*
catkin_ws/src/stopping_test1/__pycache__/*
catkin_ws/src/stopping_test1/__pycache__/*
catkin_ws/src/midterm/__pycache__/*
Simulator/training_imgs_8.zip
test_imgs/*
Simulator/training_imgs.npy
sparcs/build/*
sparcs/devel/*
sparcs/__pycache__/*
sparcs/saved_tests/*
saved_tests/*
sparcs/new_tests_locs/*
sparcs/__pycache__/*
__pycache__/*
tmp/*
tmp_bk.zip
to_del/*
tmp_bk/*